* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body-stars {
  width: 200px;
  height: 100px;
  background-color: brown;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
